{% load static %}
<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>A trial and error app first try</title>
        <meta name="description" content="Noy much">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/hello.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">A test app</a></h1>
        </div>

        <div>
            <p class="intro">Hello there!</p>
            <p>It works!</p>
        </div>

        <div>
            <p>Here's some data</p>
            {{ people }}
            <p>Just prints the query, lets add a loop</p>

            {% for introduction in people %}
                {{ introduction }}
            {% endfor %}
        </div>
        <p>Lets try something else</p>
        {% for introduction in people %}
            <div>
                <p>Created: {{ introduction.created_date }}</p>
                <h2><a href="">{{ introduction.name }}</a></h2>
                <p>{{ linebreaksbr }}</p>
            </div>
        {% endfor %}
        <script src="" async defer></script>
    </body>
</html>